<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>无权限访问</title>

    <!-- Custom fonts for this template-->
    <link href="/static/admin-res/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/admin-res/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<!--<div id="wrapper">

    &lt;!&ndash; 侧边栏 &ndash;&gt;
    &lt;!&ndash;<ul th:replace="/commons/common-admin::sidebar"></ul>&ndash;&gt;
    &lt;!&ndash; End of Sidebar &ndash;&gt;

    &lt;!&ndash; Content Wrapper &ndash;&gt;
    <div id="content-wrapper" class="d-flex flex-column">

        &lt;!&ndash; Main Content &ndash;&gt;
        <div id="content">

            &lt;!&ndash; 头部导航栏 &ndash;&gt;
            &lt;!&ndash;<nav th:replace="/commons/common-admin::topbar"></nav>&ndash;&gt;
            &lt;!&ndash; End of Topbar &ndash;&gt;

            &lt;!&ndash; Begin Page Content &ndash;&gt;
            <div class="container-fluid">-->

<!-- 404 Error Text -->
<div class="text-center " style="height: 100%">
    <div class="error mx-auto" data-text="">无权访问</div>
    <p class="lead text-gray-800 mb-5">不好意思，你没有权限进入</p>
    <p class="text-gray-500 mb-0">请切换有权限的账户进行访问</p>
    <a th:href="@{/jump/admin/toLogin}">&larr; Back to Login</a>
</div>

<!--  </div>
  &lt;!&ndash; /.container-fluid &ndash;&gt;

</div>
&lt;!&ndash; End of Main Content &ndash;&gt;

&lt;!&ndash; 页脚 &ndash;&gt;
&lt;!&ndash;<footer th:replace="/commons/common-admin::footer"></footer>&ndash;&gt;
&lt;!&ndash; End of Footer &ndash;&gt;

</div>
&lt;!&ndash; End of Content Wrapper &ndash;&gt;

</div>-->
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<!--<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>-->

<!-- 退出登录-->
<!--<div th:replace="/commons/common-admin::logout"></div>-->

<!-- Bootstrap core JavaScript-->
<script src="/static/admin-res/vendor/jquery/jquery.min.js"></script>
<script src="/static/admin-res/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/admin-res/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/admin-res/js/sb-admin-2.min.js"></script>

</body>

</html>